In [1]:
# import packages
import os
import pandas as pd
import numpy as np

In [2]:
# print out versions of packages installed
# check that the match the package version from requirements.txt
print('Pandas version:')
print('Numpy version:')

Pandas version:
Numpy version:

In [3]:
# load csv file with pandas from path
data_dir = 'data'
filename = 'aarhusbolig.csv'
data_path = os.path.join(data_dir, filename)
df = pd.read_csv(data_path)

Perform a task from the past weeks lectures. 

Ideas:
- Data visualization
- RegEx cleaning or validation

In [10]:
df_raw = pd.read_csv('data/aarhusbolig.csv', delimiter=',', index_col=[0])
def isNull(x):
    return x.isna().sum()
def show_details(dataframe):
    return dataframe.agg(['dtype', 'count', 'nunique', isNull])
show_details(df_raw)

,companyid,company,price,url,long,lat,address,type,rooms,size_m2,listings,text,deposit,rent,electricity,heat,water,tv_internet,b-ordning,other
dtype,int64,object,int64,object,float64,float64,object,object,int64,int64,float64,object,float64,float64,float64,float64,float64,float64,float64,float64
count,2116,2116,2116,2116,2108,2108,2116,2116,2116,2116,2111,2114,2112,2116,338,1146,1368,512,127,2116
nunique,12,12,1789,2116,442,441,452,8,6,119,153,452,1031,1733,198,493,530,51,92,2094
isNull,0,0,0,0,8,8,0,0,0,0,5,2,4,0,1778,970,748,1604,1989,0